.background{
    background: url(https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1703462400&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-weight: bolder;
}
.styling{
    background:url(https://i.pinimg.com/736x/db/63/2b/db632b2b01b3be6241f9ee6ab7ff9130.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}